{% extends 'base.html.twig' %}

{% block body %}
	<h1>Liste des articles</h1>
	<div class="my-3">
		<hr>
		<form method="get" class="d-flex">
			<div class="m-3">
				<input type="search" name="search" id="search" placeholder="Rechercher un article">
			</div>
			<div class="m-3">
				<button class="btn btn-primary">Rechercher</button>
			</div>
		</form>
		<hr>
	</div>

	<div class="count">
		<span class="text-success">{{ pagination.getTotalItemCount }}</span>
		articles correspondent à votre recherche
	</div>

    <div class="d-flex justify-content-evenly">
        <span>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</span>
        <span>{{ knp_pagination_sortable(pagination, 'Titre', 'title') }}</span>
        <span>{{ knp_pagination_sortable(pagination, 'Contenu', 'content') }}</span>
        <span>{{ knp_pagination_sortable(pagination, 'Date de création', 'createdAt') }}</span>
    </div>
	<div class="d-flex flex-wrap justify-content-evenly">
		{% for post in pagination %}
			<div class="card m-3" style="width: 18rem;">
				{% if post.picture %}
					<img src={{ asset('assets/img/upload/' ~ post.picture) }} class="card-img-top" alt={{post.title}}>
				{% else %}
					<img src="https://fakeimg.pl/300x200" class="card-img-top" alt={{post.title}}>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{post.title}}</h5>
					<p class="card-text">{{post.content [:30] ~ ' ...'}}</p>
					<p class="card-text text-primary">{{post.category.title}}</p>
					<a href="#" class="btn btn-primary">Voir plus</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
